# latex build files
*.acn
*.aux
*.glo
*.glsdefs
*.ist
*.log
*.out
*.toc
*.acr
*.alg
*.bbl
*.blg
*.brf
*.glg
*.gls
*.lof
*.fuse_*
*.fls
*.lot

# pdf builded
dissertation_main.synctex.gz

# folders
citations
img/_old-btc
tex/_old
